@charset "UTF-8";

.sriracha-regular {
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
  }
  .passion-one-regular {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .passion-one-black {
    font-family: "Passion One", serif;
    font-weight: 900;
    font-style: normal;
    
  }
  :root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Sriracha", serif;
    --font3: "Passion One", serif;
  }
    
    * { padding: 0px; margin: 0px; font-size: 1em; }

    html, body { background-color: aliceblue; min-height: 100%;}

    header { 
      background-color: black; 
      text-align: center;  
      color: white;    
      padding: 50px 0px 50px 0px; 
    }
    h1 {
      font-size: 15vw;
      font-family: var(--font3);
       font-weight: 400;
      font-style: normal;
      font-variant: small-caps;
  
    }
    a {
      text-decoration: none;
      color: white;
     font-weight: bolder;
     
    } 
    a:hover {
      text-decoration: underline;
    }
    
    section.normal { 
        background-color: #ffffff8a; 
        color: rgb(0, 0, 0); 
        font-family: var(--font2);
        font-weight: 400;
        font-style: normal;
      }
    section.imagen { 
        background-color: rgb(167, 165, 165); 
        color: azure;
        font-family: var(--font2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
        background-attachment: fixed;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.322);
        box-shadow: inset 4px 6px 7px #0000008a;
     

      }
    section {
        padding: 10vh 5vh 10vh 5vh;
        line-height: 2em;
        font-size: 4vw;
     }
     section.imagen > p {
      background-color: #0000004d;
      padding: 5vh 5vh 5vh 5vh;;
      display: inline-block;
      
     }

     #img1  {
      background-image: url(imagens/background001.jpg);
      
     }
     #img2 {
      background-image: url(imagens/background002.jpg);
     }










     footer > p {
      padding: 5px;
      background-color: black;
      color: white;
      text-align: center; 
      font-family: var(--font1);
     }

    
  